@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=El+Messiri:wght@400..700&display=swap");

$primary-font: "Alumni Sans", sans-serif;
$secondary-font: "El Messiri", sans-serif;

$xl-font-size: 12rem;
$lg-font-size: 2.5rem;
$md-font-size: 2.3rem;
$sm-font-size: 1.7rem;

$light-background-color: rgba(255, 255, 255, 0.116);
$light-bubble-color: rgba(255, 255, 255, 32%);
$dark-background-color: rgba(17, 25, 40, 0.75);
$box-shadow-color: rgba(0, 0, 0, 0.2);
$light-border-color: rgba(255, 255, 255, 0.125);
$gradient-color: linear-gradient(to right, #dc5158 0%, #3b14b0 51%, #dc5158 100%);
$light-text-color: #fff;
$textarea-color: #0d131e;
