<section class="auth-section">
  <article class="auth-section__header">
    <h1 class="auth-section__heading">SIGN IN</h1>
  </article>
  <article class="auth-section__content">
    <article class="auth-section__form-container">
      <form class="auth-section__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input class="auth-section__input" formControlName="email" placeholder="Email" />
        <div class="auth-section__error-messages">
          @if(email?.invalid && (email?.touched || email?.dirty)) { @if(email?.errors?.['required']){
          <p class="auth-section__error-message">Email is required.</p>
          } @if(email?.errors?.['email']){
          <p class="auth-section__error-message">Email must be valid.</p>
          } }
        </div>

        <input class="auth-section__input" formControlName="password" type="password" placeholder="Password" />
        <div class="auth-section__error-messages">
          @if(password?.invalid && (password?.touched || password?.dirty)){ @if(password?.errors?.['required']){
          <p class="auth-section__error-message">Password is required.</p>
          } @if(password?.errors?.['minlength']){
          <p class="auth-section__error-message">Password must be 6 symbols or more.</p>
          } }
        </div>

        <button class="auth-section__button auth-section__button--submit" type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
    </article>
    <article class="auth-section__divider">
      <p class="auth-section__divider-text">or</p>
    </article>
    <article class="auth-section__social-buttons">
      <button class="auth-section__button auth-section__button--google" (click)="signInWithGoogle()">Sign in with Google</button>
      <button class="auth-section__button auth-section__button--facebook">Sign in with Facebook</button>
    </article>
  </article>
</section>
