@use "../../../../styles/styles.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-image: url("../../../../assets/bg-login.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hidden {
  visibility: hidden;
}

.auth-section {
  background-color: $light-background-color;
  box-shadow: 2px 3px 20px $box-shadow-color;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid $light-background-color;
  border-radius: 40px;

  &__heading {
    font-family: $secondary-font;
    font-size: $xl-font-size;
    color: $light-text-color;
    box-shadow: $box-shadow-color;
    position: absolute;
    top: -107px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &__content {
    padding: 10rem 5rem;
    min-width: 450px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-size: 1.8rem;
    border-radius: 40px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid $light-border-color;
    color: white;
  }

  &__error-messages {
    min-height: 2.6rem;
  }

  &__error-message {
    padding: 0.5rem 0;
    color: rgb(248, 77, 77);
    font-size: 1.4rem;
    word-wrap: break-word;
  }

  &__button--submit {
    background-color: #3315e1;
    text-transform: uppercase;
    color: white;
  }

  &__button {
    font-family: $primary-font;
    font-size: $md-font-size;
    padding: 1.2rem 0;
    border-radius: 40px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    &--facebook {
      background-color: #0866ff;
      color: white;
    }
    &--google {
      background-color: #dcdcdc;
      color: gray;
    }
  }

  &__divider-text {
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
  }

  &__social-buttons {
    display: flex;
    flex-direction: column;
  }
}
