*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
}

.content-max-width {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1900px;
  height: 100%;
}
